@import "bootstrap.less";
html, body,h1,h2,h3,h4,h5 { margin: 0; padding: 0; }
p{margin:10px 0;}
body,input,textarea{#font .sans-serif();font-size:13px;line-height:13px;}
body{background:url(img/bg-body.png) 0 124px repeat-x;}
textarea {resize: none;}
a{text-decoration:none;
  img{border:0;}
}
/*Common*/
.inner{width:960px;position:relative;margin:auto;}
.icon{.back('layout.png');display: inline-block; width: 14px; height: 13px; vertical-align: middle;
  &.i-home{background-position: 0 -370px;}
  &.i-facebook{background-position: 0 -297px; width: 23px; height: 23px; }
  &.i-twitter{background-position: 0 -508px; width: 23px; height: 23px;}
  &.i-arrowdown{background-position: 0 -51px; width: 9px; height: 6px;}
  &.i-find{background-position: 0 -433px; width: 25px; height: 25px;}
  &.i-print{background-position: 0 -180px; width: 12px; height: 12px;}
  &.i-send{background-position: -17px -180px; width: 12px; height: 12px;}
  &.i-eye{background-position: -33px -184px; width: 14px; height: 8px;}
  &.i-play{background-position: -230px -182px; width: 73px; height: 71px;}
}
.btn{background: #666666;border:0;color:#fff;cursor: pointer;

}
.fancyboxVideo{position: relative;display: block;
}
.i-play {
  position: absolute;
  top: 50%;
  margin-top: -36px;
  left: 50%;
  margin-left: -36px;  
}
.menu{.clearfix();
  list-style:none;margin:0;padding:0;
  li{float: left;padding:0;margin:0;}
}
.bgtitle{ 
  .back('bg-breadcrumb.png',repeat);
}
.bg{
  .back('bg-arrows-banner.png'); 
}
.back(@image:'layout.png',@repeat:no-repeat){
  background:url('img/@{image}') 0 0 @repeat; 
}
.b{
  background:url(img/layout.png) 0 0 no-repeat; 
}
.bgpos(@pos: 0 0,@posicon: 0 0 ){
  background-position: @pos;
  .icon{
    background-position: @posicon;
  }
}

.link{background: url(img/bg-btn-large-1.png) 0 0 no-repeat;width:293px;
  font:18px 'Oswald';color:#fff;text-align:center;height:44px;line-height:40px;
  a{color:#fff;text-transform:uppercase;display: block;
  }
  &.l-1{background-image: url(img/bg-btn-large-2.png);}
  &.l-2{background-image: url(img/bg-btn-large-3.png);}
  
  &:hover{.bgpos(0 -45px)}
}
.boxes{.clearfix();
  .box{float:left;}
}
.s-controllers{
  .prev, .next{.bg();width:10px;height:12px;top:60px;position: absolute;cursor: pointer;
    &:hover{.opacity(50);} 
  }
  .prev{background-position:0 -76px;left:0;}
  .next{background-position:-16px -76px;right:0;}
}
.m-popup{
  .inner{width:auto;}
}
.posup{z-index:99999;}

.form{margin-top:20px;position:relative;
  label {display:inline-block;width:109px;vertical-align:middle;color:white;font-size:13px;margin-left:5px;line-height:20px;}
  .submit{background: url(img/bg-submit-procesos.png) left 0;display:block;text-indent:-999px;width:103px;height:43px;border:0;cursor:pointer;}
  .submit:hover{background-position: left -50px;}
  .row {padding:2px;background-color:#f19736;width:320px;margin-bottom:10px;
    &.r-1{background-color:#ed6a57;}
    &.r-2{background-color:#879acd;width:445px;}
    .input, .texarea {border:0;font-size:11px;}
    .textarea {width:325px;height:109px;border:0;vertical-align:top;}
    .input{width:203px;height:16px;vertical-align:middle;} 
  }
  .cnt-submit {position:absolute; right:34px;bottom:0;}
}

.w-agenda{font-size:10px;position: relative;
  .w-eventos{background-color: #f6f6f6; 
    a{color:#000;
        .highlight{color:#95368a;} 
        &:hover{color:#666;}
      }
    h3{font-size:13px;padding:0 10px;text-transform:uppercase;border-bottom:1px dashed #ccc;height:22px;line-height:22px;
      
    }
    .slider{position: relative;height:51px;margin:10px 18px ;}
    .slide{position: absolute;}
    .event{ 
      .cnt-cal{display:block;position:relative}
      .cal{z-index:1;background:url(img/bg-calendar-adm.png) no-repeat;font-size:11px;line-height:12px;width:47px;
        float:left;height:42px;color:#fff;font-weight:bold;
        *{display: block;text-align:center;}
        .day{font-size:20px;color:#8b8b8c;margin-top:10px;}
      }
      .cnt-cal:hover .calh{display:block}
      .calh{display:none;position:absolute; left:0;top:0;z-index:2;background:url(img/bg-calendar-h.png) no-repeat;font-size:11px;line-height:12px;width:47px;
        float:left;height:42px;color:#fff;font-weight:bold;
        *{display: block;text-align:center;}
        .day{font-size:20px;color:#AA5EA0;margin-top:10px;}
      }
      .info{margin-left:60px;line-height:11px;color:#808080;width:205px;
        h4{font-size:13px;color:#000;

        }
      }
    }
  }
  .foot{font-size:11px;text-align:center;background:#e6e6e7;height:22px;line-height:22px;border-top:1px dashed #ccc;
    a{display:block;color:#aaabad;
      &:hover{background:#bd85b5; color:#fff;height:22px;}
      
    }
  }
  .shadow{background:url(img/sombra2.png) center bottom no-repeat;height:9px;}
  .shadow2{background:url(img/sombra3.png) center bottom no-repeat;height:9px;}
}

/*Header*/
#header{background: #1570bb  ;height:124px;position: relative;
  .inner{  }
  .logo{position: absolute;top:14px;left:4px;width:258px;background: url(img/logo.png);
    a{display: block;height:57px;text-indent:-99999px;}
  }
  .subnav{font-size:10px;right:-10px;position: absolute;top:10px;
    li{line-height:12px;}
    li:first-child a{border-left:0;}
      a{color:#fff;padding:0 10px;border-left:1px solid #fff;
    }
  }
  .topnav{font-size:11px;color:#b2b1b1;position: absolute;left:210px;top:8px;
    li{float: right;}
    .i-home{vertical-align:baseline;margin-top:2px;}
    a{color:#b2b1b1;display: inline-block;vertical-align: middle;padding:0 14px;}
  }
  .social{position: absolute;right:0;top:7px;color:#bfbfbf;font-size:11px; width: 200px;text-align: right;
    span,a{vertical-align:middle;display: inline-block;
      &.icon{border:1px solid #9e9fa0;}
    }
  }
  .nav{background:#fefefe url(img/bg-layout-gradients.png) 0 -43px; 
    bottom:0px;left:0;z-index:1;position: absolute;width:100%;font-size:12px;
    ul{list-style:none;margin:0;padding: 0px;
      li{float:left;min-width:130px; text-align:center;position: relative;
        &:first-child a{background-position: -100px -100px;}
        a{background:url(img/bg-layout-gradients.png) 0 -96px no-repeat;color:#808080;display: block;padding:0 8px;line-height:36px;height:36px;
          &:hover{color:#000;}
          &:hover,&.active{background-position:0 0 !important;background-repeat:repeat-x;color:#fff;
            span{background:url(img/trian-menu2.png);width:12px; height:7px;position: absolute;
              margin-left:-6px;left:50%;bottom:0;}
          }
          &:hover{font-weight:normal;}
        }
      }
    }
  }
  .search{position: absolute;right:0;top:50px;
    .input{width:140px;padding:0px 20px 0px 5px;height:18px;font-size:11px;line-height:18px;background-color: #fafbfc;border:0;}
    .button{position:absolute;right:2px;top:1px;border:0;background:url(img/bg-arrows-banner.png) -29px -72px;cursor:pointer;
        width:20px;height:20px;}
  }
  .panel{display:none;}
}
.w-banner{height:338px;

  .w-slider{height:350px;background:url(img/bg-pattern-slider.png) 0 5px;position:relative;
    .slides{height:350px;}
    .slide{position: absolute;left:0;left:0;width:960px;
      .img{position: absolute;top:20px;}
	  .info{ color:#fff;font-family:'Oswald';position: relative;left:0;bottom:0;width:960px;
				div{position:absolute;background:url(img/bg-banner-letters.png);padding:5px 20px;}
				.span{width:50px;height:50px;right:210px;top:25px;padding:0;} 
				.title{top:75px;right:100px;font-size:35px;line-height:45px;text-align:right;padding-right:80px;}
				.subtitle{top:130px;right:150px;font-size:35px;line-height:45px;text-align:right;}
				.dates{top:130px;left:497px;font-size:14px;line-height:55px;height:55px;padding:0 17px;}
				.more{right:0;top:130px;font-size:14px;line-height:14px;padding: 12px 23px; } 
			}
	  
	  
		&.type-1{
			.info{  
				div{position:absolute;background:url(img/bg-banner-letters.png);padding:5px 20px;}
				.span{width:50px;height:50px;right:210px;top:25px;padding:0;} 
				.title{top:75px;right:100px;font-size:35px;line-height:45px;text-align:right;padding-right:80px;}
				.subtitle{top:130px;right:150px;font-size:35px;line-height:45px;text-align:right;}
				.dates{top:130px;left:497px;font-size:14px;line-height:55px;height:55px;padding:0 17px;}
				.more{right:0;top:130px;font-size:14px;line-height:14px;padding: 12px 23px; } 
			}
		}
		&.type-2{
			.info{  
				div{position:absolute;background:url(img/bg-banner-letters-2.png);padding:5px 20px;}
				.span1{width:50px;height:50px;right:50px;top:25px;padding:0;} 
				.span2{width:50px;height:50px;right:0px;top:75px;padding:0;} 
				.span3{width:100px;height:5px;right:0;top:125px;padding:0;}
				.title{top:75px;right:100px;font-size:35px;line-height:45px;text-align:right;padding-right:80px;}
				.subtitle{top:130px;right:150px;font-size:35px;line-height:45px;text-align:right;}
				.dates{top:130px;left:495px;font-size:14px;line-height:55px;height:55px;padding:0 17px;}
				.more{right:0;top:130px;font-size:14px;line-height:14px;padding: 12px 23px;height: 25px; width: 104px;
					a{color:#fff;text-decoration: none;float: left;margin: 6px 0 0 45px;}
				}
				
			}
		}
		&.type-3{
			.info{  
				div{position:absolute;background:url(img/bg-banner-letters-3.png);padding:5px 20px;}
				.span1{height: 26px;padding: 0;right: 367px;top: 100px;width: 29px;} 
				.span2{ height: 12px;padding: 0;right: 396px;top: 126px;width: 44px;} 
				.span3{ height: 4px;padding: 0;right: 150px;top: 140px;width: 131px;}
				.title{top:95px;right:100px;font-size:35px;line-height:45px;text-align:right;padding:0 10px 0 80px;}
				.subtitle{top:144px;right:150px;font-size:35px;line-height:45px;text-align:right;padding:0 10px 0 80px;}
				.dates{height: 45px;left: 501px;line-height: 45px;padding: 0 17px;top: 138px;font-size:14px;}
				.more{right:0;top:130px;font-size:14px;line-height:14px;padding: 12px 23px 4px 9px;
					a{color:#fff;text-decoration: none;float: left;margin: 6px 0 0;}
				} 
			}
		}
    }
    .slider-controllers{position: absolute;top:0;left:0;z-index:9999;width:100%;display: block;
      .prev,.next{position: absolute;top:0px; width:34px;background: none;
        cursor:pointer;height:300px;z-index:99999;overflow: hidden;
        .imgs{position: absolute;top:100px;width:106px;height:62px;
          .slide{position: absolute;}
        }
      }
      div{
        .icon{.bg();width:34px;height:62px;position: absolute;top:100px;}
        &.prev{left:0;
          .imgs{right:34px;}
          .icon{.bgpos(right -106px);right:0;}
        }
        &.next{right:0; 
          .imgs{left:34px;}
          .icon{.bgpos(left -169px);left:0;}
        } 
        &:hover{
          &.prev .icon{.bgpos(right -232px);}
          &.next .icon{.bgpos(0 -295px); }
        }
      }
    }
  } 
}
.w-menu{font-size:11px;text-transform:uppercase;top: -74px; position: absolute;  
  li {position: relative;
    a{.back('bg-layout-gradients.png',repeat);color:#fff;font-weight:bold;display: block;height:37px;text-align:center;min-width:114px;
      line-height:37px;text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4);.box-shadow( 0px 0px 5px rgba(0, 0, 0, 0.3) );  
      &.double{width:130px;line-height:11px;padding-top:7px;height:30px;}
      &.link-1{.bgpos(-0 -150px, 0 0)}
      &.link-2{.bgpos(-0 -195px, -36px 0)}
      &.link-3{.bgpos(-0 -240px, -72px 0)}
      &.link-4{.bgpos(-0 -285px, -108px 0)}
      &.link-5{.bgpos(-0 -330px, -144px 0)}
      &.link-6{.bgpos(-0 -375px, -180px 0)}
      &.link-7{.bgpos(-0 -420px, -216px 0)}
      &.link-8{.bgpos(-0 -465px, -252px 0)}
      .icon{position: absolute;width:36px;height:28px;background:url(img/i-buttons.png) 0 0 no-repeat;
        .transition(all 0.3s ease);left:0;top:-0px;z-index:-1;} 
      &:hover{display: block;text-shadow: 0px 1px 5px #000 ;.box-shadow( inset 0px 0px 10px rgba(0, 0, 0, 0.4) );
        .icon{top:-28px;}
      }
    }
  }
}
.w-hightnav{position: absolute;width:100%;z-index:9999;}
.w-breadcrumb{.bgtitle();height:26px;position: relative;top: -26px;
  a{color:#bfc0c1}
  .menu{float:left;font-size:12px;
    a{display: block;background:url(img/sp-breadcrumb.png) center right no-repeat;line-height:26px;
      padding:0 20px 0 10px;
      &:hover{color:#fff;}
    }
  }
  .register{float:right;line-height:26px;margin-right:10px;
    a{color:#bfc0c1;font-size:13px;font-weight:bold;
      &:hover{color:#fff;}
    }
  }
}
/* Inner Modules */
.m-interior{	
  background:url(img/bg-body-interior.png) 0 124px repeat-x;
  zoom: 1;
  &.m-epu,&.m-mod,&.m-carreras,&.m-noti{background-image:url(img/bg-body-interior-grey.png);}
  &.m-descargas,&.m-ex,&.m-social{background-image:url(img/bg-body-interior-gradient.png);} 
  &.m-contacto{background-image:url(img/bg-body-interior-blue.png);} 
  &.m-testix{background-image:url(img/bg-body-interior-pattern.jpg);background-color:#f7f7f7;} 
  &.m-social{
    .slogan{font-size:16px;font-weight:bold;left:360px;color:#a34a97;background:none !important;
      line-height:120%;top:90px;width:400px;}
  }

  .list{ color:#0092d2;
    span{color:#707173;}
    li{margin:10px 0}
  }
  .listado {margin-left: 20px;padding: 0 10px 0 0;
    li {list-style-image:url('img/bg-li.png');
        a{color:#707173;}
    }
    &.l-red li{list-style-image:url('img/bg-li-red.png');}
   }       
  .listado2 {margin:0px 0px 0px 10px;padding-left: 0;
    li {list-style-image:url('img/bg-li.png');
        a{color:#707173;}
    }
   }  
  .w-banner {height:300px;
    .w-slider{background:none;
      .slides{height:300px;  
        .slide{height:300px;
          .img{top:auto;bottom:0;}
          .info{font:bold 27px/100% Helvetica, Serif;
            .title,.subtitle{font-size:27px;line-height:27px;}
          }
        }
        .inner-1{
          .img{left:50px;}  
          .info{
            div{background-image:url(img/bg-banner-letters-4.png);}
            .span{right:80px;top:58px;width:20px;height:20px;}
            .span-3,.span-2{right:100px;top:112px;height:30px;} 
            .span-2{right:200px;width:30px;}
          }
        }
        .inner-3{
          .img{right:50px;}  
          .info{ 
            div{background-image:url(img/bg-banner-letters-4.png);}
            .title{right:auto;left:30px;}
            .subtitle{right:auto;left:160px;top:112px;}
            .span{right:auto;left:372px;top:149px;width:80px;height:50px;padding:0;}
            .span-2{right:auto;left:200px;top:149px;height:50px;width:50px;padding:0;} 
          }
        }
        .inner-4{
          .img{right:50px;}  
          .info{ 
            div{background-image:url(img/bg-banner-letters-4.png);}
            .title{right:auto;left:30px;}
            .subtitle{right:auto;left:160px;top:112px;}
            .span{right:auto;left:372px;top:149px;width:80px;height:50px;padding:0;}
            .span-2{right:auto;left:200px;top:149px;height:50px;width:50px;padding:0;} 
          }
        }
        .inner-5{
          .img{right:50px;}  
          .info{
            div{background-image:url(img/bg-banner-letters-5.png);}
            .title{right:auto;left:50px;top:130px;}
            .span{right:auto;left:200px;top:80px;width:50px;height:50px;}
            .span-3,.span-2{right:100px;top:112px;height:30px;} 
            .span-2{right:200px;width:30px;}
          }
        }
      }
      .slider-controllers{display: none;}
    }
  }
}
/*************/
/* Carreras */ 
.menu{ 
  .title{
    #gradient > .vertical(#0092d2,#0c5c92); 
    color: #FFFFFF;display: block;font-weight: bold;height: 37px;
    line-height: 37px;min-width: 114px;text-align: center;font-size:17px;
    a{color:#fff;display: block;}
    a:hover{color:#eee;}
    &.calendar{margin-bottom:20px;font-weight: bold;
      #gradient > .vertical(#babbbd,#8c8d8f);
    }
  }
}
.mode(@btn:#e63431,@from:#e63431,@to:#aa2d2a){ 
  .w-slider .slides div.info div{background: @btn !important;} 
  .w-proceso h1{color:@btn;}
  .menu .title{#gradient > .vertical(@from,@to); }
}
.mode-1{
  .mode();
}
.mode-2{ 
  .mode(#babb0f,#d2d700,#a3a01b);
}
.mode-3{ 
  .mode(#ef237e,#ef237e,#ac2261);
}
.mode-4{ 
  .mode(#00a4db,#00a4db,#0085b3);
}
.mode-5{ 
  .mode(#f9a000,#f9a000,#d57d0c);
}
.mode-6{ 
  .mode(#00b0b4,#00b0b4,#009b9f); 
}
.mode-7{ 
  .mode(#663682,#663682,#442f73);
}
.mode-8{ 
  .mode(#663682,#663682,#442f73);
}
/*************/
#footer{background:#4b4b4b;color:#A6A7A9;z-index:9999;position: relative;
    a{color:#a6a7a9;}
    a:hover{color:#fff;}
    h4{margin-bottom:10px;padding:20px 0 5px 0 ;font-size:12px;border-bottom:1px dashed #8c8c8c;}
    ul,li{list-style:none;margin:0;padding:0;}
  .footer-links{padding-top:0px;line-height:17px;padding-bottom:20px; 
  }

  .f-links{ font-size:12px;
    .block{float:left;width:200px;border-left: 1px solid #555;padding-left:20px;
      &:first-child{border:0;padding:0;}
      h3{font-weight:normal;margin:0;font-size:12px;}
      ul{}
      &.last{padding-left:30px;
        a{color:#fff;}
        h3{margin-bottom:20px;font-weight:normal;}
      }
      &.extend{border:1px solid #303030;border-width:0 1px;width:385px;padding:0 40px;min-height:120px;
        li{float:left;width:184px;}
      }
    }
    .seal{background:url(img/i-seal-info.png);width:74px;height:70px;position: absolute;text-indent:-9999px;top:-60px;}
    .form{font-size:11px;
      div{margin-bottom:5px;}
      input{border:0;background:none;margin:0  0;font-size:10px;padding:0 5px;vertical-align:middle;
        &.input{background-color: #fff;height:18px;}
        &.btn{background:url(img/bg-submit-procesos.png) -0 -97px no-repeat;height:19px;width:53px;cursor: pointer;
          &:hover{background-position:0 -121px;}
        } 
      }
      .hr{border-top:1px solid #ccc;width:156px;margin:5px 0;}
    }
    .social{width:164px;height:24px; 
      div{float:left;width:23px;height:24px;
        &.fb{width:85px;}
        a{display: block;text-indent:-9999px;}
      }
      .mg {margin-right:10px;}
          .fb1{background:url(img/icon-fb.png) no-repeat }
      .tw1{/*background:url(img/icon-tw.png) no-repeat */}
      .yt{background:url(img/icon-yotube.png) no-repeat }
      .fl{/*background:url(img/icon-ficler.png) no-repeat */}
    }
  }
  .f-address{background:#1570bb;height:100px;
    .address{color:#fff; line-height:16px;padding-top:15px;font-size: 14px;
      a{color:#fff;}
      .hr{border:1px dashed #ccc;margin:5px 0;}
    }      
  }
}
.w-content{
  background-color: #fff;.clearfix();z-index:9999;
}
.w-proceso{padding: 40px;color:#707173;
  h1{margin-bottom:10px;font-size:27px;line-height:100%;color:#29aae1;}
  h2{margin-bottom:10px;}
  .w-contentinfo{margin-left:280px;text-align:justify;width:605px;line-height:20px;margin-top:-15px;} 
  /*Filas*/
  .fila,.fila2 {border-bottom:1px dashed #bbb5a6;margin-bottom:20px;padding-bottom:20px;z-index:1;}
  .fila2 {position:relative;border-bottom:0px;} 
  &.w-proceso-full{ 
    .w-contentinfo{padding:0; width:auto;}
  }
  a{color:#555;
    &:hover{color:#333;}
  }
  .f-duda{width:600px;position: relative;}
}
.map{ 
  .map-canvas{height:300px;}
  .map-buttons{}
}

/*Table Schedule*/
.t-horario{font-size:12px;
  &.t-programa{ 
    th{.border-radius(3px 0 0 3px);font-size:12px;}
    td{padding:15px;text-align:left; }
  }
  &.t-curricula{color:#828385;width:90%;
    th{ font:14px 'Oswald';color:#fff;text-transform: uppercase;width: 100px;line-height: 120%;}
    th,td{padding:10px 20px;}
    td{text-align: left}
    tr.odd td{background: #f3f3f3}
    tr.even td{background: #fafafa} 
  }
  &.t-fechas{  
    .r-span{
      td{height:0px;}
    }
  }
  td,th{padding:5px;text-align:center;line-height:130%;}
  th{padding:5px 0;}
  tbody{
    td{height:35px;
      &.span{padding:0;}
    }
  }
  tfoot{
    th{background:#f3f3f3;padding:10px;}
  }
  /*columns*/
  .c-1{width:110px;}
  .c-2{width:0px;}
  .c-3{width:110px;}
  .c-4{width:110px;}
  .c-5{width:140px;}
  .c-6{width:110px;}
  .c-7{width:170px;}
  .c-8{width:410px;}
  /*colores*/
  .b-1{background-color: #53c0de;color:#fff;}
  .b-2{background-color: #7ccde5;color:#fff;}
  .b-3{background-color: #ec7b80;color:#fff;}
  .b-4{background-color: #e8555a;color:#fff;}
  .b-5{background-color: #fafafa;}
  .b-6{background-color: #f3f3f3;}
  .b-7{background-color: #f99f41;}
  .b-8{background-color: #ef237e;}
  .b-9{background-color: #f14738;}
  .b-10{background-color: #8e8e8e;}
  .b-11{background-color: #d2d700;}
  .b-12{background-color: #a84c9a;}
  .b-13{background-color: #00a4db;}
  .b-14{background-color: #6c3f8f;}
  .b-15{background-color: #06acb2;}
  .b-16{background-color: #f4d500;} 
  /* row span*/
  .r-span{
    td{height:10px;padding:0;}
  }
  .r-double{
    td{height:20px;}
  }
}
.sumilla{margin:10px 0;}
.precio{color:#0092d2;font-size:26px;font-weight:bold;} 
/*Modules*/
.w-home{ padding:20px 10px;
  .main-block{.clearfix();
    .item{width:304px;float: left;margin-left:10px;
      &:first-child{margin-left:0;}
      &:item{margin-left:0;}
      &.w-block{position: relative; 
        img{display: block;}
        a{display: block;color:#fff;}
        strong{margin-left:10px;}
        .title{position: absolute;bottom:0;left:0;width:100%;.bgtitle();height:36px;line-height:36px;font-size:16px;font-weight:bold;}
      }
    }
    .w-social{
      .link{margin:0 5px;}
    }
  }
  .w-news-block{position: relative;margin-top:20px;
    .highlight{color:#f00;}
    .news{
      .events{background:#f6f6f6;min-height:302px;
        .row{position: absolute;margin:5px 0px;}
        .event{width:234px;margin:0 0px;
          .title{height:20px;line-height:20px;padding:0 10px;font-weight:bold;
            border-bottom:1px dashed #ccc;margin-bottom:15px;
          }
          h4{margin-bottom:10px;text-align:center;font-size:13px;}
          .info,.img{margin:0 10px 10px 10px;}
          .info{padding:0 2px;font-size:11px;
            .more{text-align:right;font-size:12px;font-weight:bold;
              a{color:#808080;}
              a:hover{color:#000;}
              .plus{font-size:14px;}
            }
          }
          .video{display: block;position: relative;  
          }
          .img{text-align:center;
            img{border:0;}
          }
        }
      }
      .sep{border-left:1px solid #e0e1e2;height:302px;position: absolute;top:0;left:234px;z-index:999;
        &.s-2{left:469px;}
        &.s-3{left:702px;}
      }
    }
    .s-controllers{
      div{top:140px;z-index:9999;}
    }
    .shadow{background:url(img/bg-shadow-event-box.png) center bottom;height:21px;}
  }
}

.w-contacto{color:#707173;
  .w-contentinfo{margin-left:0px} 
  .address{margin-bottom:10px;}
  .map{position: relative;}
  .phone{color:#0092d2;font-size:31px;font-weight:bold;display:inline-block;vertical-align:middle;margin:20px 0;}
  .sendus{margin-bottom:10px;}
  .map-controls{font-size:10px;position: absolute;bottom:0;right:0;padding: 5px 10px 0 10px;background-color: #fff;
    a{color:#707173;margin-left:5px;}
    .icon{vertical-align:baseline;}
  }
  .row.r-2{background-color: #90d6e6;}
  .form{
    .img{position: absolute;bottom: -40px;right: -385px;}
    .submit{background-position:0 -142px;}
    .submit:hover{background-position:0 -50px;}
  }
}

.w-sociales {
  .block_list {
    .list{border:0 !important;border-left:1px dotted #BBB5A6 !important;
      a{color:#707173;}  
      &.first{border-left:0 !important;}
    }
  }
}

.w-testimonios .w-item.explain .expand_text{font-size:17px;}   
.w-testimonios{
  .w-item-big{position: relative;margin-bottom:20px;
    .img{position: relative;width:450px;
      a{display: block;}
    }
    .info{position: absolute;bottom:5px;right:0;font-size:28px;color:#999;
      font-weight:bold;width:200px;line-height:100%;
      .name{color:#0092d2;}
    }
  }
  .w-item{
    .media{position:relative;}
  }
}
/*Aside*/ 

/*module proceso*/ 
 
.w-aside{width:227px;float: left; position: relative;z-index:1; 
  .shadow{background:url(img/sombra.png) center bottom no-repeat;height:9px;}
  .main-block{display: block; height: auto;.clearfix();} 
  .menu{display: block;font-size:15px;
    
    .lst_menu{
      display: block;
      height: auto;
      overflow: hidden;
      margin: 10px 0 24px 0;
      padding: 0;
      li{line-height:120%;display: block;border-bottom:1px dotted #bbb5a6;width: 225px;float:none;
        a{
          color: #808080;padding: 3px 0 3px 30px; display: block;
          &:hover{color:#000;}
          &.selected{color: #000; font-weight: bold; background:url(img/icon-bullet.png) 4px 5px no-repeat;}
        }
      }
    }
    &.sec1{}
    &.sec2{}
  }
  .w-social{display: block; margin-bottom: 10px;width: 227px;
    .link{ 
      background:url(img/bg-btn-normal-1.png) no-repeat;width:227px;
      font:18px 'Oswald';color:#fff;text-align:center;height:46px;line-height:37px;
      a{color:#fff;text-transform:uppercase;height:46px;} 
      a:hover{background:url(img/bg-btn-normal-1.png) 0 -50px; }
      &.l-download{font-size:16px;height:62px;line-height:20px;padding-top:10px;
        background:url(img/bg-btn-strong-1.png);
        a:hover{background:none;}
        &.l-inscribete{background:url(img/bg-btn-strong-2.png);height:65px;}
      }
      &.l-folleto{background-image:url(img/bg-btn-normal-2.png);font-size:16px;}
    }
    & .w-ico{
      display: block;
      height: 26px;
      padding: 0 0 8px 0;
      margin: 5px 0 6px 0;
      text-indent: -9999em;
    }
    & .fb{
      background:url(img//bg_social_ico.png) 0 0;
    }
    & .tw{ 
      background:url(img/bg_social_ico.png) 0 -40px;
    } 
  }
  .w-social-ico{
    margin-top: 0px;
  }
  .w-testimonio{
    width: 225px; 
    height: 187px;
    position: relative;
    padding: 0 0 11px 0;
    background:url(img/shadow_aside.png) no-repeat center bottom;
    margin: 0 0 10px;
    a{display: block;color:#fff;}
    strong{font-size:15px;font-weight:bold;}
    .title{padding:10px 5px 10px 10px ;position: absolute;bottom: 2px;left:0;width:210px;
      background:url(img/bg-breadcrumb.png);}
  }
  .w-aside-video{
    .i-play{margin-top: -45px;}
    .title{ font-size:14px ; line-height:18px;
      div{font-size:13px;}
    } 
  }
  
  .w-news-block{ 
    position: relative;
    width: 225px;
    margin-bottom: 10px;
      .highlight{color:#f00;}
      .news{
        .events{background:#f6f6f6; height:240px;
        .row{position: absolute;margin:5px 0px;}
        .event{width:225px;margin:0 0px;float:none;
          .title{color:#000;height:20px;line-height:20px;padding:0 10px;font-weight:bold;border-bottom:1px dashed #ccc;
            margin-bottom:15px;
          }
          h4{margin-bottom:5px;text-align:center;font-size:13px;color:#000;}
          .info,.img{margin:0 0 7px 0;
            img{display: block;margin:auto;}
          }
          .info{padding:0 0;font-size:11px;margin: 0 10px 10px;
          .more{text-align:right;font-size:12px;font-weight:bold;
            a{color:#808080;}
            .plus{font-size:14px;}
          }
          }
          .img{text-align:center;}
        }
        }
        .sep{border-left:1px solid #e0e1e2;height:302px;position: absolute;top:0;left:234px;
        &.s-2{left:469px;}
        &.s-3{left:702px;}
        }
      }
      .s-controllers{
        div{top:140px;z-index:9999;}
      }
    
    
    &.w-egresado-block{
      .events{height:300px;}
    }
    
  }
  
  
  .w-agenda{width:225px;margin: 0 0 10px 0;
    .slider{margin:15px 18px 5px 18px;
      h4{font-size:13px !important;margin-bottom:3px;}
      .info{font-size:9px;width:130px;line-height:10px;}
    }
  }

}
  
.staff{.inner();
  a{display: block;text-indent:-9999px;height:23px;position:absolute;right:10px;bottom:0px;background:url(img/staff.png) no-repeat; width:142px;}
}  
