body{
	margin: 0px;
	background-color: #ffffff;
}

p,h1,h2,h3,h4,h5,h6{
	margin: 0px;
}

ul,li{
	padding: 0px;
	margin: 0px;
	list-style: none;
}

table,td{
	padding: 0px;
	margin: 0px;
	border-collapse: collapse;
}

img{
	border: 0px;
}

a,a:hover{
	outline: none;
	text-decoration: none;
}

br{
	clear: left;
}

form,fieldset{
	padding: 0px;
	margin: 0px;
	border: 0px;
}


#int_principal{
	width: 720px;
	height: 370px;
	padding: 0px 40px 0px 40px;
}

#producto .contenido{
	width: 720px;
	height: 370px;
}

#producto .contenido .info{
	width: 200px;
	height: 370px;
	float: left;
}

#producto .info .imagen{
	width: 200px;
	height: 100px;
}

#producto .info .listado{
	width: 200px;
	padding: 10px 0 20px 0;
}

#producto .info .listado ul{
	width: 200px;
	float: left;
}

#producto .info .listado ul li{
	width: 200px;
	font: normal 18px "Times New Roman";
	color: #262626;
	float: left;
}

#producto .info .listado ul li a{
	color: #262626;
	text-decoration: underline;
}

#producto .info .botones{
	width: 200px;
}

#producto .info .botones button{
	width: 122px;
	height: 90px;
	background: url(images/botonAnadirWishlist.png) no-repeat;
	border: 0px;
	padding: 0px;
	margin: 0px;
	text-indent: -9999px;
}


/**/

#producto .contenido .extra{
	width: 500px;
	height: 370px;
	padding-left: 19px;
	border-left: 1px dotted #5b5a5a;
	float: left;
}

#producto .extra .listado{
	width: 519px;
	padding: 0 0 10px 0;
}

#producto .extra .listado ul{
	width: 519px;
	float: left;
}

#producto .extra .listado ul li{
	width: 160px;
	height: 160px;
	margin: 5px;
	float: left;
}

#producto .extra .redes{
	text-align: right;
}
