body{
	margin:0px;
	background: #ffffff url(images/fondo_body.png) repeat-x;
}

#maq_alineacion{
	width: 1000px;
	margin: 0px auto;
	padding: 0px 0px 0px 0px;
}

#maq_cabecera{
	width: 1000px;	
	height: auto;

}

#maq_principal{
	width: 1000px;
	height: auto;	
}

#maq_pie{
	width: 1000px;
}