body{
	margin: 0px;
}

p,h1,h2,h3,h4,h5,h6{
	margin: 0px;
}

ul,li{
	padding: 0px;
	margin: 0px;
	list-style: none;
}

table,td{
	padding: 0px;
	margin: 0px;
	border-collapse: collapse;
}

img{
	border: 0px;
}

a,a:hover{
	outline: none;
	text-decoration: none;
}

br{
	clear: left;
}

form,fieldset{
	padding: 0px;
	margin: 0px;
	border: 0px;
}


/**/

@font-face {
    font-family: 'BertholdAkzidenzGroteskBECoMd';
    src: url('fonts/akzidenzgroteskbe-mdcn-webfont.eot');
    src: url('fonts/akzidenzgroteskbe-mdcn-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/akzidenzgroteskbe-mdcn-webfont.woff') format('woff'),
         url('fonts/akzidenzgroteskbe-mdcn-webfont.ttf') format('truetype'),
         url('fonts/akzidenzgroteskbe-mdcn-webfont.svg#BertholdAkzidenzGroteskBECoMd') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BertholdAkzidenzGroteskBELiRg';
    src: url('fonts/akzidenzgroteskbe-lightcn-webfont.eot');
    src: url('fonts/akzidenzgroteskbe-lightcn-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/akzidenzgroteskbe-lightcn-webfont.woff') format('woff'),
         url('fonts/akzidenzgroteskbe-lightcn-webfont.ttf') format('truetype'),
         url('fonts/akzidenzgroteskbe-lightcn-webfont.svg#BertholdAkzidenzGroteskBELiRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('fonts/myriadpro-regular.eot');
    src: url('fonts/myriadpro-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/myriadpro-regular.woff') format('woff'),
         url('fonts/myriadpro-regular.ttf') format('truetype'),
         url('fonts/myriadpro-regular.svg#myriadpro-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TitlingGothicFBExtended-Thin';
    src: url('fonts/titlinggothicfbext-thin.eot');
    src: url('fonts/titlinggothicfbext-thin.eot?#iefix') format('embedded-opentype'),
         url('fonts/titlinggothicfbext-thin.woff') format('woff'),
         url('fonts/titlinggothicfbext-thin.ttf') format('truetype'),
         url('fonts/titlinggothicfbext-thin.svg#titlinggothicfbext-thin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TitlingGothicFBWide-Light';
    src: url('fonts/titlinggothicfbwide-light.eot');
    src: url('fonts/titlinggothicfbwide-light.eot?#iefix') format('embedded-opentype'),
         url('fonts/titlinggothicfbwide-light.woff') format('woff'),
         url('fonts/titlinggothicfbwide-light.ttf') format('truetype'),
         url('fonts/titlinggothicfbwide-light.svg#titlinggothicfbwide-light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Light';
    src: url('fonts/gotham-light.eot');
    src: url('fonts/gotham-light.eot?#iefix') format('embedded-opentype'),
         url('fonts/gotham-light.woff') format('woff'),
         url('fonts/gotham-light.ttf') format('truetype'),
         url('fonts/gotham-light.svg#gotham-light') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* Logo */

#logo{
	width: 59px;
	height: 58px;
	left: 0px;
	position: absolute;
	top: 110px;
	z-index: 1;
}

#logo a{
	color: #BCBBBB;
	font: 15px/24px "Trebuchet MS";
	text-indent: -9999px;
	outline:none;
}

#logo a strong {
	left: 0;
	position: absolute;
	top: 0;
	z-index: 0;
}

#logo a img {
	width: 59px;
	height: 58px;
	left: 0;
	outline:none;
	position: absolute;
	top: 0;
	z-index: 1;
}

/* Cabecera */

.web_cabecera{
	width: 1000px;
	height: auto;
}

.web_cabecera .superior {
 	width: 1000px;
   height: 174px;
	position: relative;
	border-bottom: 5px solid #000000;
}

.web_cabecera .superior .ripley{
	position: absolute;
	right: 5px;
	bottom: 5px;
}

#frase{
 	width: 1000px;
   height: 32px;
	position: absolute;
	top: 0px;
	left: 0px;
}

#frase h3{
	font: bold italic 14px/32px "Times New Roman";	
	color: #ffffff;
}

#acceso{
   height: 32px;
	position: absolute;
	top: 0px;
	right: 0px;
}

#acceso ul{
	height: 32px;
	float: left;
}

#acceso ul li{
	height: 32px;
	float: left;
	margin-left: 25px;
}

#acceso ul li a{
	font: bold italic 14px/32px "Times New Roman";
	color: #ffffff;
}

#acceso a:hover{
	color: #ff0000;
}

#buscador{
	width: 156px;	 
	height: 28px;
	padding: 0 0 0 8px;
	position: absolute;
	right: 0px;
	top: 45px;
	background: url(images/fondo_buscador.png) no-repeat 0px 0px;
}

#buscador input{
	width: 126px;
	height: 26px;
	font: italic 14px "Times New Roman";
	color: #666666;
	border: none;
	background: none;
}

#buscador button {
	width: 13px;
	height: 13px;
	font: 11px Arial,Helvetica,sans-serif;
	color: #FFFFFF;
	cursor: pointer;
	background: url(images/botonBuscador.png) no-repeat 0px 0px;
	border: none;
	text-indent: -9999px;
	position: absolute;
	right: 8px;
	top: 7px;
}

#titulo{
 	width: 1000px;
   height: 50px;
	position: absolute;
	top: 85px;
	left: 0px;
	text-align: center;
}

#titulo h2{
	font: normal 50px/50px 'BertholdAkzidenzGroteskBECoMd', Arial, Helvetica, sans-serif;	
	color: #000000;
	padding: 0 32px; 
	display: inline;
}


.web_cabecera .medio {
 	width: 1000px;
   height: auto;
	padding: 0 0 18px 0;
}

#menuSuperior{
	width: 1000px;
   height: 50px;
}

#menuSuperior ul{
	width: 860px;
	height: 50px;
	text-align: center;
	margin: 0px auto;
	border-bottom: 1px dotted #424242;
}

#menuSuperior ul li{
	height: 50px;
	display: inline;
}

#menuSuperior ul li a{
	font: normal 24px/50px 'BertholdAkzidenzGroteskBECoMd', Arial, Helvetica, sans-serif;	
	color: #000000;
	margin: 0px 40px;
}

#menuSuperior a:hover{
	color: #ff0000;
}

#anuncio{
 	width: 1000px;
   height: auto;
	padding: 28px 0 16px 0;
	text-align: center;
	border-bottom: 1px dotted #424242;
}

#anuncio h3{
	font: normal 28px/24px 'TitlingGothicFBExtended-Thin', Arial, Helvetica, sans-serif;	
	color: #000000;
	vertical-align: middle;
	display: inline;
}

#anuncio p{
	font: normal 18px/24px 'BertholdAkzidenzGroteskBELiRg', Arial, Helvetica, sans-serif;	
	color: #000000;
	vertical-align: middle;
	display: inline;
}

#anuncio img{
	vertical-align: middle;
	margin: 0px 8px;
}

.web_cabecera .inferior{
 	width: 1000px;
   height: auto;
}

#bannerTipo1{
	width: 1000px;
	height: 382px;
}

#bannerTipo1 ul{
	width: 1000px;	
	float: left;
}

#bannerTipo1 ul li{
	width: 1000px;	
	height: 382px;
	float: left;
}

#bannerTipo1 ul li img{
	display: block;
}


#bannerTipo2{
	width: 1000px;
	height: 252px;
	padding-bottom: 18px;
}

#bannerTipo2 ul{
	width: 1000px;	
	float: left;
}

#bannerTipo2 ul li{
	width: 1000px;	
	height: 252px;
	float: left;
}

#bannerTipo2 ul li img{
	display: block;
}

/**/

#videos{
	width: 894px;
	height: 162px;
	padding: 0 0 0 106px;
	background: #efebde url(images/indicador_galeria.png) no-repeat 0px center;
	margin-top: 12px;
}

#videos .destacado{
	width: 236px;
	padding: 46px 0 0 0;
	text-align: center;
	float: left;
}

#videos .destacado h2{
	font: normal 56px/40px 'BertholdAkzidenzGroteskBECoMd', Arial, Helvetica, sans-serif;	
	color: #000000;
	padding: 0 16px;
	border-left: 1px dotted #666666;
	border-right: 1px dotted #666666;
}

#videos .destacado .estrellas{

}

#videos .destacado h3{
	font: normal 12px/20px 'MyriadPro-Regular', Arial, Helvetica, sans-serif;	
	color: #000000;
}


#videos .listado{
	width: 646px;
	height: 140px;
	padding: 22px 0 0 12px;
	float: left;
}

#videos .listado ul{
	width: 646px;	
	float: left;
}

#videos .listado ul li{
	width: 144px;	
	height: 132px;
	margin-left: 12px;
	float: left;
}

#videos .listado ul li .extra{
	width: 140px;
	height: 78px;	
	border: 2px solid #ffffff;
}

#videos .listado ul li .extra img{
	width: 140px;	
	height: 78px;
	display: block;
}

#videos .listado ul li .info{
	width: 144px;	
	height: 45px;	
	padding: 5px 0 0 0;
	text-align: center;
}

#videos .listado ul li .info h3{
	font: normal 12px 'Gotham-Light', Arial, Helvetica, sans-serif;
	padding: 0px 0px 0px 0px;	
	color: #000000;
	text-transform: uppercase;
}

#videos .listado ul li .info a{
	font: normal 16px 'BertholdAkzidenzGroteskBECoMd', Arial, Helvetica, sans-serif;
	color: #e11e23;
	text-transform: uppercase;
}

#videos .listado ul li .info a:hover{
	color: #e11e23;
	text-decoration: underline;
}

/* Principal */

#principalTipo1 .web_columna1{
	width: 740px;	
	float: left;
	padding: 0 0 0 0;
}

#principalTipo1 .web_columna2{
	width: 238px;	
	float: left;
	padding: 166px 0 0 22px;
}

#principalTipo2 .web_columna1{
	width: 178px;	
	float: left;
	padding: 0 0 0 20px;
}

#principalTipo2 .web_columna2{
	width: 792px;
	float: left;
	padding: 0px 0px 0px 10px;
}

#principalTipo3 .web_columna1{
	width: 740px;	
	float: left;	
}

#principalTipo3 .web_columna2{
	width: 236px;	
	float: left;
	padding: 0px 0px 0px 24px;
}

#principalTipo4 .web_columna1{
	width: 1000px;	
	float: left;
}


/**/

#principalTipo1 .web_columna2 .banner{
	text-align: center;
	margin-bottom: 20px;
}

/**/


#menu{
	width: 178px;
	padding: 40px 0px 48px 0px;
}

#menu ul {
	width: 178px;
   float: left;
}

#menu ul li{
	width: 178px;
   float: left;
	padding: 0px 0px 20px 0px;
}

#menu ul li a{
	font: normal 26px 'BertholdAkzidenzGroteskBELiRg', Arial, Helvetica, sans-serif;	
   color: #585858;
	display: block;
}

#menu ul li a:hover{
   color: #e22c2f;
	text-decoration: none;
}



#submenu{
	width: 178px;
}

#submenu .titulo{
	width: 178px;
	height: 34px;	
	border-bottom: 1px dotted #000000;	
}

#submenu .titulo h2{
	width: 178px;
	font: normal 30px 'BertholdAkzidenzGroteskBECoMd', Arial, Helvetica, sans-serif;
   color: #000000;
}

#submenu ul {
	width: 178px;
   float: left;
}

#submenu ul li{
	width: 178px;
   float: left;
	padding: 10px 0px 0px 0px;
}

#submenu a{
	font: normal 24px 'BertholdAkzidenzGroteskBECoMd', Arial, Helvetica, sans-serif;
   color: #8a8a8a;
	display: block;
}

#submenu a:hover{
   color: #000000;
	text-decoration: none;
}


/**/


#principalTipo2 #productos{
	width: 792px;	
}

#productos .formulario{
	width: 792px;	
	padding: 0 0 18px 0;
	text-align: right;
}

#productos .formulario select{
	font: normal 11px/26px Arial,Helvetica,sans-serif;
	color: #666666;
}

#productos .listado ul{
	width: 792px;	
	float: left;
}

#productos .listado ul li{
	width: 194px;	
	height: 306px;
	float: left;
	padding: 46px 25px 0px 25px;
	margin: 0px 0px 20px 20px;
	background: #f1f1f2 url(images/vineta_catalogo.png) no-repeat center 0px;
}

#productos .listado ul li .extra{
	width: 194px;
	height: 194px;	
	float: left;
}

#productos .listado ul li .extra a{
	display: block;
	cursor: pointer;
}

#productos .listado ul li .extra a img{
	width: 194px;
	height: 194px;
	display: block;
}

#productos .listado ul li .info{
	width: 194px;
	height: 92px;	
	padding: 20px 0px 0px 0px;
	float: left;
}

#productos .listado ul li .info h3{
	font: normal 24px 'BertholdAkzidenzGroteskBECoMd', Arial, Helvetica, sans-serif;
	padding: 0px 0px 0px 0px;	
	color: #000000;
	text-align: center;
}

#productos .listado ul li .info h3 a{
	color: #000000;
	display: block;
}

#productos .listado ul li .info h3 a:hover{
	color: #000000;
	text-decoration: underline;
}

#productos .listado ul li .info h4{
	font: normal 15px/25px 'Gotham-Light', Arial, Helvetica, sans-serif;
	padding: 0px 0px 0px 0px;	
	color: #000000;
	text-align: center;
}

#productos .listado ul li .info h5{
	font: normal 15px 'BertholdAkzidenzGroteskBELiRg', Arial, Helvetica, sans-serif;
	padding: 0px 0px 0px 0px;	
	color: #4c4c4c;
	text-align: center;
}


/* Producto  - Detalle*/


#principalTipo3 #productos{
	width: 740px;
	padding: 30px 0 0 0;
}

#principalTipo3 #productos .navegacion{
	width: 740px;
	height: 76px;
	border-bottom: 1px dotted #424242;
}

#menuTipo1{
	width: 736px;
	padding: 0px 0px 22px 0px;
	
}

#menuTipo1 ul {
	width: 736px;
   float: left;
}

#menuTipo1 ul li{
	width: auto;
   float: left;
	padding: 0px 12px 0px 0px;
}

#menuTipo1 a{
	font: italic 16px "Times New Roman";
   color: #090909;
	display: block;
}

#menuTipo1 a:hover{
   color: #090909;
	text-decoration: none;
}

#menuTipo2{
	width: 736px;
	padding: 0px 0px 14px 0px;
}

#menuTipo2 ul {
	width: 736px;
   float: left;
}

#menuTipo2 ul li{
	width: auto;
   float: left;
	padding: 0px 12px 0px 0px;
}

#menuTipo2 ul li.vineta{
	line-height: 16px;
	font-weight: bold;
}

#menuTipo2 a{
	font: normal 18px 'BertholdAkzidenzGroteskBECoMd',Arial, Helvetica, sans-serif;
   color: #000000;
	display: block;
}

#menuTipo2 a:hover{
   color: #e6484b;
	text-decoration: none;
}

#detalle{
	width: 740px;
	padding: 14px 0px 48px 0px;
}

#detalle .imagenes{
	width: 340px;
	float: left;
}

#detalle .imagenes .principal{
	width: 340px;
	height: 442px;
}

#detalle .imagenes .principal img{
	display: block;
}

#detalle .imagenes .sliders{
	width: 340px;
	padding: 10px 0px 0px 0px;
}

#detalle .imagenes .sliders ul{
	width: 340px;
	height: 60px;
	float: left;
}

#detalle .imagenes .sliders ul li{
	width: 60px;
	height: 60px;
	float: left;
	background: #a7a9ad;
	margin: 0px 14px 0px 0px;
}
#detalle .imagenes .sliders ul li img{
	width: 60px;
	height: 60px;
	display: block;
}

#detalle .imagenes .sliders ul li a{
	display: block;
	cursor: pointer;
}

#detalle .imagenes .sliders ul li a:hover{
	text-decoration: none;
}

#detalle .datos{
	width: 360px;
	float: left;
	padding: 20px 10px 0px 30px;
}

#detalle .datos .info{
	width: 360px;
}

#detalle .datos .info h3{
	font: 15px 'Gotham-Light',Arial,Helvetica,sans-serif;
	color:#e22c2f;
	padding: 0px 0px 6px 0px;
}



#detalle .datos .info h2{
	font: 36px 'BertholdAkzidenzGroteskBECoMd',Arial,Helvetica,sans-serif;
	color:#000000;
	padding: 0px 0px 6px 0px;
	margin: 0px;
}

#detalle .datos .info .vistas{
	width: 190px;
	height: 22px;
	padding: 0px 0px 6px 0px;
}

#detalle .datos .info p{
	font: italic 16px "Times New Roman";
	color:#4b4b4b;
	padding: 0px 0px 16px 0px;
}

#detalle .datos .info h4{
	font: 24px 'Gotham-Light',Arial,Helvetica,sans-serif;
	color: #000000;
	padding: 0px 0px 12px 0px;
}

#detalle .datos .info h5{
	font: 15px "Myriad Pro",Arial,Helvetica,sans-serif;
	color: #000000;
	padding: 0px 0px 0px 0px;
}


#detalle .datos .sugerencia{
	width: 360px;
	height: 74px;
	padding: 26px 0 26px 0;
	text-align: right;
}

#detalle .datos .sugerencia img{
	width: 120px;
	height: 70px;
}

#detalle .datos .compartir{
	width: 360px;
	height: 20px;
}

#detalle .datos .compartir h4{
	font: italic 15px/20px "Times New Roman";
	color: #464646;
	float: left;
	padding: 0px 10px 0px 0px;
}

#detalle .datos .compartir .redes{
	width: 264px;
	height: 20px;
	float: left;
}

#detalle .datos .compartir .redes img{
	width: 264px;
	height: 20px;
	display: block;
}

#detalle .datos .enlace{
	width: 360px;
	padding: 20px 0px 0px 0px;
	height: 20px;
}

#detalle .datos .enlace a{ 
	font: italic 16px "Times New Roman";
	color: #090909;
	background: url(images/vineta_regresar.png) no-repeat 0px 5px;
	float: right;
	padding: 0px 0px 0px 14px;
}

#detalle .datos .enlace a:hover{ 
	color: #e22c2f;
}


#comentarios{
	width: 740px;
	padding: 0px 0px 30px 0px;
}


#comentarios .titulo{
	width: 740px;
}

#comentarios .titulo h2{
	font: 30px 'BertholdAkzidenzGroteskBECoMd',Arial,Helvetica,sans-serif;
	color: #000000;
  
}

#comentarios .listado ul{
	width: 740px;
	float: left;
}


#comentarios .listado ul li{
	width: 346px;
	float: left;
	padding: 20px 12px 20px 12px;
	position: relative;
}

#comentarios .listado ul li.borde{
	border-bottom: 1px dotted #424242;
}

#comentarios .listado ul li h3{
	width: 270px;
	font: bold italic 16px/30px "Times New Roman";
	color: #090909;
}

#comentarios .listado ul li h4{
	font: bold italic 14px "Times New Roman";
	color: #e22c2f;
	position: absolute;
	top: 27px;
	right: 12px;
}

#comentarios .listado ul li p{
	height: 40px;
	overflow: hidden;
	font: normal 16px "Times New Roman";
	color: #4b4b4b;
}




/**/

#principalTipo3 #wishlist{
	width: 236px;	
	padding: 120px 0 0 0;
	float: left;
}

#principalTipo3 #wishlist .titulo{
	width: 236px;	
	height: 58px;
}

#principalTipo3 #wishlist .titulo h2{
	width: 236px;	
	height: 58px;
	background: url(images/titulo_wishlist.png) no-repeat;
	text-indent: -9999px;
}

#principalTipo3 #wishlist .subtitulo{
	width: 236px;	
	height: 36px;
	padding: 30px 0px 0px 0px;
}

#principalTipo3 #wishlist .subtitulo h3{
	font: 15px 'Gotham-Light',Arial,Helvetica,sans-serif;
	color: #464646;
}

#principalTipo3 #wishlist .listado ul{
	width: 234px;	
	float: left;
}

#principalTipo3 #wishlist .listado ul li{
	width: 236px;	
	height: 116px;
	padding: 0px 0px 10px 0px;
	float: left;
}

#principalTipo3 #wishlist .listado ul li .extra{
	width: 116px;	
	height: 116px;
	float: left;
}

#principalTipo3 #wishlist .listado ul li .extra img{
	display: block;
}

#principalTipo3 #wishlist .listado ul li .info{
	width: 120px;	
	height: 80px;
	padding: 36px 0 0 0;
	float: left;
	text-align: center;
}

#principalTipo3 #wishlist .listado ul li .info p{
    color: #797979;
    display: block;
    font: 16px 'BertholdAkzidenzGroteskBECoMd',Arial,Helvetica,sans-serif;
}

#principalTipo3 #wishlist .listado ul li .info p a{
    color: #797979;
    display: block;
}

#principalTipo3 #wishlist .listado ul li .info p a:hover{
    color: #e6484b;
    text-decoration: none;
}


/**/


#principalTipo4 #wishlist{
	width: 960px;	
	padding: 0 0 40px 40px;
	background-color: #f2efe5;
	margin: 20px 0;
	float: left;
}

#principalTipo4 #wishlist .listado ul{
	width: 960px;	
	float: left;
}

#principalTipo4 #wishlist .listado ul li{
	width: 480px;	
	height: 272px;
	padding: 40px 0px 0px 0px;
	float: left;
}

#principalTipo4 #wishlist .listado ul li .extra{
	width: 208px;	
	height: 268px;
	border: 2px solid #ffffff;
	float: left;
}

#principalTipo4 #wishlist .listado ul li .extra img{
	display: block;
}

#principalTipo4 #wishlist .listado ul li .info{
	width: 208px;	
	height: 272px;
	padding: 0 40px 0 20px;
	overflow: hidden;
	position: relative;
	float: left;
}

#principalTipo4 #wishlist .listado ul li .info h3{
	font: 14px 'Gotham-Light',Arial,Helvetica,sans-serif;
	color:#e22c2f;
	padding: 0px 0px 6px 0px;
}

#principalTipo4 #wishlist .listado ul li .info h2{
	font: 30px/30px 'BertholdAkzidenzGroteskBECoMd',Arial,Helvetica,sans-serif;
	color:#000000;
	padding: 0px 0px 2px 0px;
}

#principalTipo4 #wishlist .listado ul li .info .vistas{
	width: auto;
	padding: 0px 0px 2px 0px;
}

#principalTipo4 #wishlist .listado ul li .info h4{
	font: 20px 'Gotham-Light',Arial,Helvetica,sans-serif;
	color: #000000;
	padding: 0px 0px 12px 0px;
}

#principalTipo4 #wishlist .listado ul li .info .botones{
	width: auto;
}

#principalTipo4 #wishlist .listado ul li .info .botones button.botonEliminar{
	font: italic 16px "Times New Roman";
	color: #000000;
	background: none;
	padding: 0px;
	margin: 0px;
	border:0px;
}

#principalTipo4 #wishlist .listado ul li .info .redes{
	width: auto;
	position: absolute;
	bottom: 0px;
	left: 20px;
}

#principalTipo4 #wishlist .listado ul li .info .redes img{
	display: block;
}

/**/

#temporada{
	width: 740px;
}

#temporada .titulo{
	width: 740px;	
	padding: 25px 0 15px 0;
	border-bottom: 1px dotted #424242;
}

#temporada .titulo h2{
	font: normal 48px 'BertholdAkzidenzGroteskBECoMd', Arial, Helvetica, sans-serif;
	padding: 0px 0px 0px 0px;	
	color: #000000;
	text-transform: uppercase;
}

#temporada .titulo h2 span{
	color: #868686;
}

#temporada .titulo p{
	font: italic 15px "Times New Roman";
	color: #000000;
}

#temporada .social{
	width: 740px;	
	padding: 30px 0 15px 0;
}

#temporada .social .contenido{
	width: 740px;	
	padding: 0 0 0 0;
}

#temporada .social .contenido .extra{
	width: 740px;	
	padding: 0 0 0 0;
}

#temporada .social .contenido .redes{
	width: 740px;	
	text-align: right;
}

#temporada .subtitulo{
	width: 740px;	
	padding: 5px 0 15px 0;
	background: url(images/fondo_categoria.png) no-repeat center 0px;
	text-align: center;
}

#temporada .subtitulo h3{
	font: normal 26px/60px 'TitlingGothicFBWide-Light', Arial, Helvetica, sans-serif;
	color: #e11e23;
	text-transform: uppercase;
	display: inline;
	
}
#temporada .subtitulo p{
	font: normal 16px "Times New Roman";
	color: #000000;
	text-align: left;
	margin-top: 10px;
}

#temporada .listado{
	width: 740px;
	padding: 10px 0 35px 0px;
	float: left;
}

#temporada .listado ul{
	width: 740px;	
	float: left;
}

#temporada .listado ul li{
	width: 170px;
	margin-left: 20px;
	float: left;
}

#temporada .listado ul li.nomargen{
	margin-left: 0px;
}

#temporada .listado ul li .extra{
	width: 170px;
	height: 108px;	
}

#temporada .listado ul li .extra img{
	display: block;
}

#temporada .listado ul li .info{
	width: 170px;	
	padding: 10px 0 0 0;
	text-align: center;
}

#temporada .listado ul li .info h3{
	font: normal 20px 'BertholdAkzidenzGroteskBECoMd', Arial, Helvetica, sans-serif;
	padding: 0 0 0 0;	
	color: #000000;
	text-transform: uppercase;
}

#temporada .listado ul li .info h3 a{
	color: #8c8c8c;
}

#temporada .listado ul li .info h3 a:hover{
	color: #000000;
}


/**/

#comunidad .titulo{
	width: 238px;	
	padding: 5px 0 15px 0;
	text-align: center;
}

#comunidad .titulo h2{
	font: normal 26px 'BertholdAkzidenzGroteskBECoMd', Arial, Helvetica, sans-serif;
	padding: 0px 0px 0px 0px;	
	color: #000000;
	text-transform: uppercase;
}

#comunidad .titulo h2 span{
	color: #868686;
}

#comunidad .titulo p{
	font: normal 18px 'BertholdAkzidenzGroteskBELiRg', Arial, Helvetica, sans-serif;
	color: #4b4b4b;
}

#comunidad .formulario{
	width: 226px;	 
	height: 28px;
	padding: 0 4px 0 8px;
	background: url(images/fondo_boletin.png) no-repeat 0px 0px;
}

#comunidad .formulario input{
	width: 226px;
	height: 28px;
	font: italic 14px "Times New Roman";
	color: #666666;
	border: none;
	background: none;
}

#facebook{
	margin-bottom: 40px;
}

/**/

#generico{
	padding: 20px 0 10px 0;
	border-bottom: 1px dotted #424242;
}

#generico .titulo h2{
	font: italic 15px "Times New Roman";
	color: #000000;
}

#generico .titulo h2.wishlist{
	width: 268px;
	height: 64px;
	background: url(images/titulo_wishlist_principal.png) no-repeat;
	text-indent: -9999px;
}

#generico .subtitulo{
	position: relative;
}

#generico .subtitulo h3{
	font: italic 15px/20px "Times New Roman";
	color: #000000;
	margin-left: 20px;
}

#generico .subtitulo h3.wishlist{
	margin-left: 0px;
}

#generico .subtitulo .redes{
	position: absolute;
	top: 0px;
	right: 0px;
}

/**/


#web_popup{
	width:800px;
	height:450px;
	position: relative;
}

#web_popup #botonCerrar{
	width: 16px;
	height: 16px;
	position: absolute;
	top: 25px;
	right: 25px;
	cursor: pointer;
	background-color: #7828aa;
}

#web_popup #cabecera{
	width:800px;
	height:40px;
	background-color: #ffffff;
}

#web_popup #principal{
	width:800px;
	height:370px;
}


/**/

#busqueda{
	width: 740px;
	padding: 20px 0;
}

#busqueda .titulo{
	width: 720px;
	padding: 10px 0 10px 20px;
}

#busqueda .titulo h2{
	font: normal 48px 'BertholdAkzidenzGroteskBECoMd', Arial, Helvetica, sans-serif;
	color: #000000;
}

#busqueda .listado{
	width: 740px;
}

#busqueda .listado ul{
	width: 700px;
	padding: 0 0 0 40px;
	float: left;
}

#busqueda .listado ul li{
	width: 700px;
	padding-bottom: 20px;
	float: left;
}

/**/

#busqueda .publicaciones ul li .info{
	width: 700px;
}

#busqueda .publicaciones ul li .info h3{
	font: normal 24px 'BertholdAkzidenzGroteskBECoMd', Arial, Helvetica, sans-serif;
	color: #000000;
}

#busqueda .publicaciones ul li .info h3 a{
	color: #000000;
}

#busqueda .publicaciones ul li .info h3 a:hover{
	color: #e11e23;
}

#busqueda .publicaciones ul li .info h4{
	font: bold italic 15px "Times New Roman";
	color: #000000;
}

#busqueda .publicaciones ul li .info p{
	font: italic 15px "Times New Roman";
	color: #000000;
}

#busqueda .publicaciones ul li .info p a{
	color: #000000;
}

#busqueda .publicaciones ul li .info p a:hover{
	color: #e11e23;
}

/**/

#busqueda .productos ul li .extra{
	width: 120px;
	float: left;
}

#busqueda .productos ul li .info{
	width: 560px;
	padding: 0 0 0 20px;
	position: relative;
	float: left;
}

#busqueda .productos ul li .info h3{
	width: 350px;
	padding-right: 10px;
	font: normal 24px 'BertholdAkzidenzGroteskBECoMd', Arial, Helvetica, sans-serif;
	color: #000000;
}

#busqueda .productos ul li .info h3 a{
	color: #000000;
}

#busqueda .productos ul li .info h3 a:hover{
	color: #e11e23;
}

#busqueda .productos ul li .info h4{
	font: 15px 'Gotham-Light',Arial,Helvetica,sans-serif;
	color: #000000;
	position: absolute;
	top: 4px;
	right: 10px;
}

#busqueda .productos ul li .info p{
	font: italic 15px "Times New Roman";
	color: #000000;
}

#busqueda .productos ul li .info p a{
	color: #000000;
}

#busqueda .productos ul li .info p a:hover{
	color: #e11e23;
}


/**/

#busqueda .listado .enlace{
	clear: left;
	width: 740px;
	height: 20px;
	text-align: right;
}

#busqueda .listado .enlace a{
	font: normal 17px 'BertholdAkzidenzGroteskBECoMd', Arial, Helvetica, sans-serif;
	color: #e11e23;
	text-transform: uppercase;
	margin-right: 15px;
}

#busqueda .listado .enlace a:hover{
	color: #000000;
}

#busqueda .listado .borde{
	padding: 0 0 20px 0;
	border-bottom: 1px dotted #424242;
}



/**/

.web_pie{
	border: 1px dotted #424242;
	border-width: 1px 0 1px 0;
	padding-bottom: 10px;
	margin-bottom: 30px;
}

.web_pie .superior{
	height: 42px;
}

.web_pie .inferior{
	min-height: 130px; 
	background: #f1f1f2;
	position: relative;
}
/******** Social Inferior ********/

.web_pie .inferior .redes{
	width: 150px; 
	float: left;
}
 

.web_pie .inferior .redes ul{
	height: 22px;
	float: left;
}

.web_pie .inferior .redes ul li{
	height: 22px;
	float: left;
	margin-right: 15px;
}

.web_pie .inferior .redes ul li a{
	width: 22px;
	height: 22px;
	display: block;
	text-indent: -9999px;
}


.web_pie .inferior .redes ul li a.botonFacebook{
	background: url(images/boton_facebook.png) no-repeat;
}

.web_pie .inferior .redes ul li a.botonTwitter{
	background: url(images/boton_twitter.png) no-repeat;
}

.web_pie .inferior .redes ul li a.botonOtro{
	background: url(images/boton_otro.png) no-repeat;
}

/****************/


.web_pie .inferior .ripley{
	margin-top:6px;
	padding:5px 0 5px 20px;
	border-left:1px dotted #424242;
	float: right;
}

#menuInferior{
	width: 1000px;
   height: 42px;
}

#menuInferior ul{
	width: 1000px;
	height: 42px;
}

#menuInferior ul li{
	height: 42px;
	margin: 0px 24px;
	float: left;
}

#menuInferior ul li a{
	font: normal 18px/42px 'BertholdAkzidenzGroteskBECoMd', Arial, Helvetica, sans-serif;	
	color: #8c8c8c;
}

#menuInferior a:hover{
	color: #ff0000;
}

#mensaje{
	width: 540px;
	position: absolute;
	top: 35px;
	left: 36px;
}

#mensaje .contenido{
	width: 540px;	
	padding: 0 0 15px 0;
}

#mensaje .contenido .info{
	padding: 0 0 10px 0;
}

#mensaje .contenido .info p{
	font: italic 15px "Times New Roman";
	color: #000000;
}

#mensaje .contenido .extra{
	width: 350px;
}


#mensaje .contenido .extra p{
	width: 180px;
	font: normal 12px/12px 'MyriadPro-Regular', Arial, Helvetica, sans-serif;
	color: #000000;
	text-transform: uppercase;
	float: left;
}

#mensaje .contenido .extra img{
	margin-left: 20px;
	float: left;
}


#contenedor{
	width: 290px;
	position: absolute;
	top: 25px;
	right: 10px;
}

#contenedor .contenido{
	width: 290px;
}

#contenedor .contenido .extra{
	width: 114px;
	float: left;
}




/* Logo */

#logoInferior{
	width: 119px;
	height: 14px;
	right: 18px;
	position: absolute;
	bottom: 16px;
	z-index: 1;
}

#logoInferior a{
	color: #BCBBBB;
	font: 15px/24px "Trebuchet MS";
	text-indent: -9999px;
	outline:none;
}

#logoInferior a strong {     left: 0;     position: absolute;     top: 0;
z-index: 0; }

#logoInferior a img {
	width: 119px;
	height: 14px;
	left: 0;
	outline:none;
	position: absolute;
	top: 0;
	z-index: 1;
}

/**** Add Category Section ****/
.categorias{
	font: normal 24px/24px 'BertholdAkzidenzGroteskBELiRg', Arial, Helvetica, sans-serif;
	padding: 30px 0 70px 0;
}
.categorias .categorias_box{min-height: 800px;
	background: url(../images/bg_tendencias.jpg) no-repeat;
}
.categorias .items{margin: 50px auto 0 auto;height: 480px; width:840px;
	background: url(../images/img_look.png) center 40px no-repeat;}
.categorias .title{
	text-align: center;
	position: relative;
}
.categorias .items .item h3{
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}
.categorias .items .item:hover {
	background: rgba(255, 255, 255, 0.1);
}
.categorias .items .item:hover h3{
	margin-top:-20px;
	margin-bottom: 20px;
}
.categorias .items .item{
	text-transform: uppercase;
	float:left;
	width: 120px; 
	text-align: center;

}
.categorias .items .item h3{
	font-weight: normal;font-size: 20px;
}
.categorias .items .item a{
	color:#b01313;
	display: block;
	height: 480px;
} 

/*** Blog/Campaña ***/
.blog{margin-top: 50px;}
.blog h3{font: normal 36px/36px 'BertholdAkzidenzGroteskBECoMd', Arial, Helvetica, sans-serif;
	border-bottom: 1px dotted #424242;padding:2px 0;}
.blog h3 a{color:#000}
.blog .sub{margin:10px 0 0 0;}
.blog .sub .c{width:50%;}
.blog .sub .social{text-align: right}
.blog .sub .tags{font: normal 12px 'Gotham-Light';} 
.blog .sub .tags a{color:#6c6c6c;text-transform: uppercase;} 
.blog .sub .tags span{font:italic normal 14px Times;margin-right: 5px;}
.blog .sub .social a{display: inline-block;vertical-align: top;color:#000;
	font: normal 22px 'BertholdAkzidenzGroteskBECoMd'}
.blog .sub .social .ico{display:inline-block;margin:0 6px;}
.blog .sub .date{color:#e22c2f;font:italic 14px Times;} 
.blog .post{border-bottom:  1px dotted #424242;margin-bottom: 30px;padding-bottom: 20px;} 
.blog .summary{font:italic normal 15px/17px Times;padding:15px 0;}
.blog .img img{display: block;}
.blog .detail{font:15px/20px Times;margin:20px 0;text-align: justify;}
.blog .detail p{margin-bottom: 20px;}
.blog .pager{padding-top:0;}

.blog .comments-box{margin:30px 0 130px;}
.blog .comments-box h3 {border:0;}
.blog .comment {border-bottom:1px dotted #424242;padding:10px 0 20px;} 
.blog .comment .sub{margin-bottom:5px;}
.blog .comment .name{font-style: italic;font-weight: bold;}
.blog .comment .phrase{color:#4b4b4b;font-size:16px;font-style: italic;;}

.blog .comment-form{margin-top:20px;}
.blog .comment-form .input,.blog .comment-form .textarea{width:730px;padding:5px;border:0;
	background: #efebde;}
.blog .comment-form .textarea{width:730px;resize: none;}
.blog .comment-form .buttons{text-align: right;}
.blog .comment-form .button{border:0;background:transparent;font:italic 16px Times;
	margin:0;padding:0;cursor: pointer;}

.a-blog {padding-top:192px;}
.a-blog .title{text-align: center;width: 194px;margin:auto;}
.a-blog .title .subtitle{font:11px 'Gotham-Light';text-align: center; }
.a-blog .a-categories{background: #efebde; padding:30px 0;} 
.a-blog .cats{width:165px;padding-top: 50px;margin:auto;
	background: url(images/icon_arrow_down.png) center 20px  no-repeat;}
.a-blog .cat{padding: 10px 0;margin-bottom:20px;border-bottom:1px dashed #000;text-align: center;}
.a-blog .cat h4{text-align: center;font: normal 22px/22px 'BertholdAkzidenzGroteskBECoMd';
	margin-bottom: 5px;}
.a-blog .cat h4 a{color:#e22c2f;}
.a-blog .cat div{font-style: italic;font-size: 15px;}
.a-blog .a-social{padding: 40px 0;}
.a-blog .a-pinterest{margin-bottom:40px;text-align: center;}



/* Tendencias */
.tendencias{height:850px;position: relative;margin:50px 0 40px}
.tendencias .abs{position: absolute;}
.tendencias .title{top:60px;left:20px;}
.tendencias .menu{top:217px;left:30px;text-transform: uppercase;
	font: normal 30px/44px 'BertholdAkzidenzGroteskBELiRg', Arial, Helvetica, sans-serif;}
.tendencias .menu ul{list-style: none}
.tendencias .menu ul li a{color:#7f7f7f;}
.tendencias .menu ul li a:hover,.tendencias .menu ul li a.active{color:#000;}
.tendencias .images{top:0px;left:248px;}
.tendencias .images .img{position: absolute;}
.tendencias .images .img-1{top:0px;left:71px;}
.tendencias .images .img-2{top:61px;left:374px;}
.tendencias .images .img-3{top:451px;left:374px;}
.tendencias .images .img-4{left:0px;top:390px;}



/*** Common ***/
.pager{text-align: center;font:normal 24px/24px 'BertholdAkzidenzGroteskBECoMd';
	padding: 30px 0;}
.pager a{color:#000;}
a img{border:0;}
.c{float:left;}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}