{% extends 'website/base.html' %} 


{% block content %} 
 
<div class="w-proceso"> 

  <!-- END --> 
  <!-- CONTENT -->
  <div class="w-content">  
          <h1>Templates</h1>
          <div>
            <ul class="listado">
              {% for tem in templates %} 
              <li><a href="{{tem}}">{{tem}}</a></li>
              {% endfor %}
            </ul>
          </div>   
  </div> 
  <!-- END -->

</div>
{% endblock %}