.ag_popupBloqueo{
	background-color:#000;  	
	position:absolute; 			
	z-index:10001; 				
	top:0; 						
	left:0; 					
	width:100%; 				
	height:100%; 				
	display:none;				
}

.ag_popup {
	position:absolute;	
	left:50%; 					
	top:50%;
	display:none;				
}
